$separator-color-light: #f3f3f3;
$separator-color: #d7d7d7;
$background-color: #f8f8f8;
$foreground-color : white;
$input-background: white;

$dark-btn-background: #575057;
$light-btn-background: #d4d4d4;

$button-text-color: #fff;

$theme-color-1: #922c88;
$theme-color-2: #4556ac;
$theme-color-3: #af67a4;
$theme-color-4: #743c6e;
$theme-color-5: #4b5480;
$theme-color-6: #795d75;

$primary-color: #303030;
$secondary-color: #8f8f8f;
$muted-color: #909090;

$gradient-color-1 : #a9449f;
$gradient-color-2 : #3c164f;
$gradient-color-3 : #8a3481;

$text-color : #000;
$light-text-color: #2c2a2a;



@import "../../../assets/css/sass/global.scss";